@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@500&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 35px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#logo_link img{
    width: 80px;
}